<div class="col-md-10" id="maincontents">
  <div class="row">
    <div class="content-box-large">
      <div class="panel-heading">
	<div class="panel-title">Licenses</div>
	<div class="panel-options"></div>
      </div>
      <div class="panel-body">
          <form class="form-horizontal" id="changepasswordform" action="/password" method="POST">
              <div class="form-group">
                  <label class="col-sm-2" control-label>Current Password</label>
                  <div class="col-sm-2">
                      <input type="password" name="curr_password" class="form-control required" placeholder="Current Password">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-2" control-label>New Password</label>
                  <div class="col-sm-2">
                      <input type="password" name="password" class="form-control" placeholder="Password" id="password">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2" control-label>New Password (repeat)</label>
                  <div class="col-sm-2">
                      <input type="password" class="form-control" placeholder="Password (repeat)" name="cfmpassword" id="cfmpassword">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-primary" type="submit">Change</button>
                  </div>
              </div>
              <div class="form-group has-error">
                  <span class="help-block">
                      <i class="fa fa-warning"></i>
                      <%= @error %>
                  </span>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
