<div class="col-md-10" id="maincontents">
  <div class="row">
    <div class="content-box-large">
      <div class="panel-heading">
	<div class="panel-title">Syntax error.</div>
	<div class="panel-options"></div>
      </div>
      <div class="panel-body">
	<div class="content-box-large">
	  There was a syntax error in your template. Please use your browser's back button and correct the error.
	  <br>
	  The error:
	  <p>
	    <pre>
	      <%= e %>
	    </pre>
	  </p>
	</div>
      </div>
    </div>
  </div>
</div>
