<div class="col-md-10" id="maincontents">
  <div class="row">
    <div class="content-box-large">
      <div class="panel-heading">
	<div class="panel-title">View Template <%= @template.name %></div>
      </div>
      <div class="panel-body">
	<h3>Up</h3>
	<%= @up_template %>
	<br>
	<h3>Down</h3>
	<%= @down_template %>
      </div>
    </div>
  </div>
</div>
