<div class="col-md-10" id="maincontents">
    <div class="row">
        <form action="/inventories/add" method="POST" id="inventoryform">
            <div class="col-md-12 panel-info">
                <div class="content-box-header panel-heading">
                    <div class="panel-title"><h3>Create Inventory</h3></div>
                </div>
                <div class="content-box-large box-with-header">
                    <div class="row">
                        <label class="col-sm-2 control-label">Inventory Name</label>
                        <div class="col-sm-2">
                            <input type="text"  class="form-control required" name="name" placeholder="Enter Inventory Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Add field</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="fieldname" placeholder="Enter field name" id="fieldname" >
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" name="fieldclass" id="fieldclass" placeholder="Select field type or validator">
                                    <option value="string">String</option>
                                    <option value="digits">Digits</option>
                                    <% @validators.each do |validator, detail| %>
                                        <option value="<%= validator %>"> <%= detail[:description] %></option>
                                    <% end  %>
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <a href="#"> <button type="button" id="addfieldbtn" class="btn btn-success">Add Field</button></a>
                            </div>
                        </div>
                    </div>
                    <span class="row help-block">
                        <div id="errormsg"></div>
                    </span>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="content-box-header panel-heading">
                    <div class="panel-title"><h3>Inventory preview</h3></div>
                </div>
                <div class="content-box-large box-with-header">
                    <div class="row">
                        <div class="form-group" id="customfields">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
